---
import { Code } from "@lucide/astro";
---

<header
  class="sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60 px-3 py-1"
>
  <div class="container flex h-14 items-center">
    <div class="mr-4 flex items-center">
      <a href="/" class="mr-6 flex items-center space-x-2">
        <Code class="h-6 w-6 text-primary" />
        <span class="font-bold font-headline">Grayson Lin</span>
      </a>
      <nav
        class="hidden items-center space-x-6 text-sm font-medium md:flex"
      >
        <a
          href="#projects"
          class="text-foreground/60 transition-colors hover:text-foreground/80"
        >
          過往專案
        </a>
        <a
          href="#resume"
          class="text-foreground/60 transition-colors hover:text-foreground/80"
        >
          經歷、學歷與技能
        </a>
      </nav>
    </div>
  </div>
</header>
